.connect{
    width: 100%;
}

.connect-content{
    width: 100%;
    position: relative;
}

.connect-info{
    width: 100%;
    height: auto;
} 

.connect-info h1 {
    color: #0F2E4A; 
    font-family: "Inter-800", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px; 
}

.connect-info-span{
    color: #C35815;;
}

.connect-info p{
    color: #0F2E4A;
    font-family: "SF Pro Display", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: 22px;
}

.btn-connect{
    padding: 12px 32px; 
    border-radius: 100px;
    border: 2px solid #C35815; 
    color: #C35815;
    background-color: transparent;
    margin-top: 30px;
    font-family: "Inter-500", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    cursor: pointer;
}

.btn-connect:hover{
    background-color: #C35815;
    color: #fff;
}
.connect-content #mapUrl{
    position: absolute;
    right: 0;
    width: 1104px;
    top: 0;
    height: 100%;
    z-index: 2;
    border-radius: 1387px; 
}
.google-map{
    position: absolute;
    right: 0;
    width: 1104px;
    top: 0;
    height: 100%;
    z-index: -1;
    border-radius: 1387px;
}

.map-content{
    position: absolute;
    right: 0;
    width: 1104px;
    top: 0;
    height: 100%; 
    z-index: 2;
    background: radial-gradient(52.76% 50% at 50% 50%, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.92) 63.69%, #FFF 100%);
}

.connect-contact{
    margin-top: 154px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.connect-content-item{
    width: 33%;
}

.connect-content-item h6{
    color: #0F2E4A;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 141%;
}

.connect-content-item p{
    color: #0F2E4A;
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 141%;
    margin-top: 12px;
}

.connect-content-item p i{
    margin-right: 10px;
}

.contact-info-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info-phone{
    width: 48%;
}

.contact-info-phone ul li{
    list-style-type: none;
    margin-top: 12px;
}

.contact-info-phone ul li a {
    text-decoration: none;
    color: #0F2E4A;
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.contact-info-phone ul li a:hover{
    color: #C35815;
}

.contact-info-phone ul li a i{
    margin-right: 10px;
}

@media screen and (max-width: 1200px) and (min-width: 0px) {
    .connect-content-item{
        width: 48%;
        margin-top: 20px;
    }
    .google-map{
        width: 900px;
    }
    .map-content{
        width: 900px;
    }
}

@media screen and (max-width: 992px) and (min-width: 0px) {
    .connect-info h1{
        font-size: 32px;
    }

    .google-map{
        width: 600px;
    }
    .map-content{
        width: 600px;
    }
}

@media screen and (max-width: 776px) and (min-width: 0px) {
    .connect-info h1{
        font-size: 24px;
    }

    .google-map{
        width: 400px;
    }

    .map-content{
        width: 400px;
    }

    .connect-content-item{
        width: 100%;
    }
}

@media screen and (max-width: 540px) and (min-width: 0px) {
    .connect-info h1{
        margin-top: 30px;
        font-size: 24px;
    }

    .google-map{
        width: 300px;
    }

    .map-content{
        width: 300px;
    }

    .contact-info-phone{
        width: 100%;
    }
}